<!DOCTYPE html>
<html>
<head>
    <title>Minha Aplicação Web</title>
</head>
<body>
    <h1>Ola Mundo!!</h1>
    <form action="/novo" method="post">
        <input type="text" name="nome" placeholder="Digite o nome do caminho">
        
        <input type="number" name="x" placeholder="Digite a coordenada x">
        <input type="number" name="y" placeholder="Digite a coordenada y">
        <input type="number" name="z" placeholder="Digite a coordenada z">
        <input type="number" name="r" placeholder="Digite a coordenada r">
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>